@{
<<<<<<< HEAD
    ViewData["Title"] = "Home4444 Page";
=======
    ViewData["Title"] = "Home3333 Page";
>>>>>>> 17e95385f20ffc08dd4665d6b8b86fc7f0050f71
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
